<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css"> 

    </head>

    <bod>
        <div class="main-content">
            {{>header}}
        <p> {{errorMessage}} </p>

        </div>
        
        {{>footer}}
      
    </bod>
</html>